<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Pizza Perfetta | Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
    <h1>Pizza Perfetta - pizza Admin</h1>
</div>
<table  class="table table-responsive table-bordered table-striped">
    <thead>
    <tr>
        <th style="width:  5%"> ID</th>
        <th style="width:  10%"> Name</th>
        <th style="width:  50%"> Ingredients</th>
        <th style="width:  10%"> Action</th>
    </tr>
    </thead>
    <tr>
        <td th:text="${pizzaDetails.id}"></td>
        <td th:text="${pizzaDetails.name}"></td>
        <td th:text="${pizzaDetails.ingredients}"></td>
        <td><a th:href="@{/pizzas/edit/{id}(id=${pizzaDetails.id})}" class="btn btn-primary btn-lg btn-block" style="color: white; background-color: #6c757d;">Edit</a>
        <a th:href="@{/pizzas/delete/{id}(id=${pizzaDetails.id})}" class="btn btn-primary btn-lg btn-block" style="color: white; background-color: red;">Delite</a></td>
    </tr>
</table>
<footer>
    <div class="text-center bg-dark text-light py-2">
        <p>&copy; 2023 Pizza Perfetta. All rights reserved.</p>
    </div>
</footer>
</body>
</html>